<!-- <h1>
    Welcome To Administration Page
</h1>

<button nz-button nzType="primary" (click)="logout()">Logout</button>

<div>
    <p>Setting up a lazy-loaded feature module requires two main steps:

        Create the feature module with the Angular CLI, using the --route flag.
        Configure the routes.</p>


    <nz-form-item>
        <input type="text" placeholder="Search Here" nz-input>
    </nz-form-item>

    <button nz-button nzType="primary">Search</button>
    <button nz-button >Add Members <a href="add-gym-member"></a> </button>
    
    
</div> -->

<div>
    
</div>