<p>{{showMessage}}</p>
<h1>Listing Members ...</h1>
<a href="add-gym-member" nz-button nzType="primary"><i nz-icon nzType="arrow-left" nzTheme="outline"></i></a>

<div>
    <h1>Gym Member List</h1>
    <nz-table #listMemberTable [nzData]="memberProfile">
        <thead>
            <tr>
                <th >Sr No</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>UID</th>
                <th>Gender</th>
                <th>Email</th>
                <th>Contact No</th>
                <th>DOB</th>
                <th>City</th>
                <th>State</th>
                <th>Pincode</th>
                <th>Nationality</th>
                <th>Membership</th>
                <th >Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let i=index;      
                let member of listMemberTable.data">
                <td>{{i+1}}</td>
                <td>{{member.fname}}</td>
                <td>{{member.lname}}</td>
                <td>{{member.uid}}</td>
                <td>{{member.gender}}</td>
                <td>{{member.email}}</td>
                <td>{{member.contactno}}</td>
                <td>{{member.dob}}</td>
                <td>{{member.city}}</td>
                <td>{{member.state}}</td>
                <td>{{member.pincode}}</td>
                <td>{{member.nationality}}</td>
                <td>{{member.membership}}</td>
                <td>
                    <a>
                        <span nz-icon 
                        nzType="edit" 
                        nzTheme="outline" 
                        (click)="editMemberDetails(member.id)"
                        ></span>
                    </a>
                    <button nz-button nzType="primary" nzDanger (click)="deleteMemberDetails(member.id)">Delete</button>
                    <nz-divider nzType="vertical">
                    </nz-divider>
                </td>
            </tr>
        </tbody>

    </nz-table>
</div>