<div class="container">
    <div >
        <form [formGroup]="adminSignupForm" (ngSubmit)="onAdminSignup(adminSignupForm.value)">
            <nz-collapse >
                <nz-collapse-panel nzHeader="Super Admin Registration" nzActive="false">
                    <h1>Super Admin Registration Page</h1>
                    <div class="inner-box form-group">
                        <nz-form-item>
                            <nz-form-label nzRequired>Firstname</nz-form-label>
                            <nz-form-control>
                                <input nz-input type="text" placeholder="Enter First Name" formControlName="firstName"
                                    minlength="0" maxlength="25">
                            </nz-form-control>
                        </nz-form-item>

                        <nz-form-item>
                            <nz-form-label nzRequired>Middlename</nz-form-label>
                            <nz-form-control>
                                <input nz-input type="text" placeholder="Enter Middle Name" formControlName="middleName"
                                    minlength="0" maxlength="25">
                            </nz-form-control>
                        </nz-form-item>


                        

                        <nz-form-item>
                            <nz-form-label nzRequired>Lastname</nz-form-label>
                            <nz-form-control>
                                <input nz-input type="text" placeholder="Enter Last Name" formControlName="lastName"
                                    minlength="0" maxlength="25">
                            </nz-form-control>
                        </nz-form-item>

                        <nz-form-item>
                            <nz-form-label nzRequired>Contact Number</nz-form-label>
                            <nz-form-control>
                                <input nz-input type="tel" placeholder="Enter Contact Number"
                                    formControlName="contactNo" minlength="0" maxlength="10">
                            </nz-form-control>
                        </nz-form-item>

                        <nz-form-item>
                            <nz-form-label nzRequired>Email</nz-form-label>
                            <nz-form-control>
                                <input nz-input type="email" placeholder="Enter Email ID " formControlName="email"
                                    minlength="0" maxlength="35">
                            </nz-form-control>
                        </nz-form-item>

                        <nz-form-item>
                            <nz-form-label nzRequired>Create Password</nz-form-label>
                            <nz-form-control>
                                <input nz-input type="password" placeholder="Create Password" formControlName="password"
                                    minlength="8" maxlength="25">
                            </nz-form-control>
                        </nz-form-item>

                        <nz-form-item>
                            <nz-form-label nzRequired>Confirm Password</nz-form-label>
                            <nz-form-control>
                                <input nz-input type="password" placeholder="Confirm Password"
                                    formControlName="confpass" minlength="8" maxlength="25">
                            </nz-form-control>
                        </nz-form-item>

                        <nz-form-item>
                            <nz-form-control>
                                <nz-button-group>
                                    <button nz-button nzType="primary" >Signup</button>
                                </nz-button-group>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </nz-collapse-panel>
            </nz-collapse>
        </form>
    </div>

    <div>
        <form [formGroup]="adminLoginForm" (ngSubmit)="onAdminLogin(adminLoginForm.value)">
            <nz-collapse>
                <nz-collapse-panel nzHeader="Super Admin Login" nzActive="false">
                    <div class="inner-box form-control">

                        <nz-form-item>
                            <nz-form-label nzRequired>Email ID</nz-form-label>
                            <nz-form-control>
                                <input nz-input type="email" 
                                placeholder="Enter Email ID" 
                                formControlName="email"
                                minlength="0" 
                                maxlength="25">
                            </nz-form-control>
                        </nz-form-item>

                        <nz-form-item>
                            <nz-form-label nzRequired>Password</nz-form-label>
                            <nz-form-control>
                                <input nz-input type="text" 
                                placeholder="Enter Password " 
                                formControlName="password"
                                minlength="0"
                                maxlength="25">
                            </nz-form-control>
                        </nz-form-item>
                        

                        <nz-form-item>
                            <nz-form-control>
                                <nz-button-group>
                                    <button nz-button nzType="primary" >Login </button>
                                </nz-button-group>
                            </nz-form-control>
                        </nz-form-item>

                        <nz-input-group>
                            
                        </nz-input-group>
                    </div>
                </nz-collapse-panel>
            </nz-collapse>
        </form>
    </div>

</div>