<section class="main-content">
    <div class="container">
        <h3 class="text-center text-uppercase" style="margin-top: 0px;margin-bottom:0px;font-size: 20px;">Welcome 
            </h3>


                <div class="col-sm-4" >
                    <a style="color: blue" nzType="primary" (click)="onAdmin()">
                      <div class="stat-card card1">
                        <div class="stat-card__content">
                          <p class="text-uppercase mb-1 " style="color:white;font-weight: 600;"></p>
                          <h2 style="color: springgreen;font-size:30px;margin-top: 1rem;">Admin Availables:{{ adminCount }}</h2>
                          <div>
                          </div>
                        </div>
                        <div class="stat-card__icon stat-card__icon--success" style="margin-top: 1.5rem;">
                          <div style="background-color:#F5F5F5"class="stat-card__icon-circle">
                            <i class="fa fa-graduation-cap"></i>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>

                  <div class="col-sm-4" >
                    <a style="color: blue" nzType="primary" (click)="onGymInstitute()">
                      <div class="stat-card card1">
                        <div class="stat-card__content">
                          <p class="text-uppercase mb-1 " style="color:white;font-weight: 600;"></p>
                          <h2 style="color: springgreen;font-size:30px;margin-top: 1rem;">Gym Availables:{{ gymInstCount }}</h2>
                          <div>
                          </div>
                        </div>
                        <div class="stat-card__icon stat-card__icon--success" style="margin-top: 1.5rem;">
                          <div style="background-color:#F5F5F5"class="stat-card__icon-circle">
                            <i class="fa fa-graduation-cap"></i>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
            
            